@tailwind base;
@tailwind components;
@tailwind utilities;


#pizzas {
background-image: url("../images/backgrounds/blackTable.jpg");
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center;
}
#information {
    background-image: url("../images/backgrounds/fondoPizzas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#legend {
    background-image: url("../images/backgrounds/pizzaLegend.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#menus {
    background-image: url("../images/restaurantLogo.png");
    background-size: contain;
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-position: center;
}