@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes textMenu {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#pizzas {
background-image: url("../images/blackTable.jpg");
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center;


}
#information {
    background-image: url("../images/fondoPizzas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}
