@tailwind base;
@tailwind components;
@tailwind utilities;


#pizzas {
background-image: url("../images/backgrounds/blackTable.jpg");
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center;


}
#information {
    background-image: url("../images/backgrounds/fondoPizzas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#legend {
    background-image: url("../images/backgrounds/pizzaLegend.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}